body {
    background-color: rgba(122, 119, 119, 0.616);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.overskrift {
    color: rgb(0, 0, 0);
    background-color: rgb(40, 179, 179);
    border: 3px solid rgb(36, 64, 226);
    padding-left: 10px;
    text-align: center;
    height: auto;
    width: auto;
}

.intro {
    background-color: lightpink;
    border: 2px solid rgb(162, 0, 255);
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
}

#button1 {
    margin: 1%;
    padding: 0, 2%;
    background-color: lightblue;
    border-radius: 10px;
}

.liste {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: aquamarine;
}

.linken {
    margin-top: 100%;
}

#button2 {
    margin-top: 1%;
    background-color: lightgreen;
    border-radius: 10px;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section2 {
    padding: 10px;
    margin: 20px;
    border: 3px solid pink;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
}